<div class="search-page">
  <div class="search-page-container">
    <div class="search-header">
      <h1 class="page-title">Comparador de Precios</h1>
      <p class="page-subtitle">Encuentra las mejores ofertas en diferentes tiendas</p>
    </div>

    <app-search-bar
      (search)="onSearch($event)"
      [loading]="loading"
    ></app-search-bar>


    <app-product-list
      [products]="products"
      [loading]="loading"
      [total]="total"
      [query]="query"
      (productSelect)="onProductSelect($event)"
    ></app-product-list>
  </div>
</div>
